.tiles {
  margin-top: 15px;
  margin-bottom: 15px;
}

.tiles-settings {
  margin-bottom: 15px;
}

.tile {
  background: #eee;
  border: 1px solid #fff;
  box-sizing: border-box;
  font-size: 12px;
  padding-top: 15px;
  padding-bottom: 15px;
  cursor: pointer;

  @media (min-width: 992px) {
    width: 12.5%;
    height: 100px;
  }

  &:active {
    background: #ddd;
  }

  &.click-sending,
  &.click-success {
    visibility: hidden;
  }

  &.click-error {
    background: red;
    color: white;
  }
}
